# Combining & Exporting data
1. Import and check
12. Merge df_ords with order_products_prior to create df_merged_large
25. Merge df_merged_large with df_prods to create ords_prods_merged
30. Export ords_prods_merged as orders_products_merged.pkl

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import data set df_ords_prior
order_products_prior = pd.read_csv(r'/Users/OldBobJulia/Desktop/CF/Course/4. Python/Instacart Basket Analysis/02 Data/Original data/order_products__prior.csv')

In [3]:
# Check
order_products_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [4]:
order_products_prior.shape

(32434489, 4)

In [5]:
# Import orders data set
df_ords = pd.read_csv(r'/Users/OldBobJulia/Desktop/CF/Course/4. Python/Instacart Basket Analysis/02 Data/Prepared data/orders_checked.csv')

In [6]:
# Check
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,0.0
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [7]:
df_ords.shape

(3421083, 7)

In [8]:
# Drop unnecessary column Unnamed:0
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [9]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,0.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [12]:
# Merge (inner) df_ords and order_products_prior with a _merge column
df_merged_large = df_ords.merge(order_products_prior, on = 'order_id', indicator = True)

In [13]:
# Count _merge values
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
df_merged_large.shape

(32434489, 10)

In [21]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [16]:
# Import products data set
df_prods = pd.read_csv(r'/Users/OldBobJulia/Desktop/CF/Course/4. Python/Instacart Basket Analysis/02 Data/Prepared data/prods_checked.csv')

In [17]:
df_prods.head()

,Unnamed: 0,product_id,product_name,department_id,prices
0,0,1,Chocolate Sandwich Cookies,19,5.8
1,1,2,All-Seasons Salt,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,1,10.5
4,4,5,Green Chile Anytime Sauce,13,4.3

In [18]:
df_prods.shape

(49672, 5)

In [19]:
# Drop unnecessary column Unnamed:0
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [20]:
df_prods.head()

,product_id,product_name,department_id,prices
0,1,Chocolate Sandwich Cookies,19,5.8
1,2,All-Seasons Salt,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,1,10.5
4,5,Green Chile Anytime Sauce,13,4.3

In [22]:
# Drop previous _merge column because I will create a new one with upcoming merge
df_merged_large = df_merged_large.drop(columns='_merge')

In [23]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,196,1,0
1,2539329,1,1,2,8,0.0,14084,2,0
2,2539329,1,1,2,8,0.0,12427,3,0
3,2539329,1,1,2,8,0.0,26088,4,0
4,2539329,1,1,2,8,0.0,26405,5,0

In [25]:
# Merge df_merged_large and df_prods on product_id 
ords_prods_merged = df_merged_large.merge(df_prods, on = 'product_id', indicator = True)

In [26]:
# Check
ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,department_id,prices,_merge
0,2539329,1,1,2,8,0.0,196,1,0,Soda,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,7,9.0,both

In [27]:
ords_prods_merged.shape

(32404859, 13)

In [28]:
# Count _merge values
ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

These are only full matches

In [29]:
# Export 
path = r'/Users/OldBobJulia/Desktop/CF/Course/4. Python/Instacart Basket Analysis/02 Data'

In [30]:
ords_prods_merged.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_merged.pkl'))